html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.blauwe-balk {
  background-color: #0190e2;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 50px;
}

.header__logo-link {
  margin-right: 25px;
}

.header__logo-image {
  height: 64px;
  fill: white;
}

.form-container {
  padding: 30px;
  margin-top: 15px;
}

.titles-container {
  padding: 20px;
}

h2,
h4 {
  text-align: left;
  padding-left: 20px;
}

h2 {
  color: #285dab;
}

.period {
  color: #ff6701;
}

h4 {
  color: rgb(0, 145, 226);
}

p {
  text-align: center;
}

.type_bestelling {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.type_bestelling_text {
  margin-right: 25px;
}

.aanhef {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.aanhef_text {
  margin-right: 25px;
}

.naam {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 300px;
  padding-left: 90px;
}

.name_form {
  display: flex;
}

.name_text {
  display: inline-block;
  margin-right: 25px;
}

.postcode {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 300px;
  padding-left: 90px;
}

.postcode_text {
  display: inline-block;
  margin-right: 25px;
}

.huisnummer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.huisnummer_text {
  margin-right: 25px;
}

.land {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.land_text {
  margin-right: 25px;
}

.afleveradres {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.aflever_text {
  margin-right: 25px;
}

.email {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.email_text {
  margin-right: 25px;
}

.telefoonnummer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.telefoon_text {
  margin-right: 25px;
}

.datum {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.datum_text {
  margin-right: 25px;
}

.nieuwsbrief {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.nieuws_text {
  margin-right: 25px;
}

.verzendwijze {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.verzend_text {
  margin-right: 25px;
}

.kleur {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.kleur_text {
  margin-right: 25px;
}

.colorpick {
  width: 150px;
}

.wachtwoord {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.wachtwoordbevestig {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 200px;
  padding-left: 90px;
}

.wachtwoordtxt {
  margin-right: 25px;
  color: #595959;
  font-size: 10px;
  padding-right: 200px;
  padding-left: 90px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 60px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

@media (max-width: 768px) {
  .type_bestelling,
  .aanhef,
  .naam,
  .postcode,
  .huisnummer,
  .land,
  .afleveradres,
  .email,
  .telefoonnummer,
  .datum,
  .nieuwsbrief,
  .verzendwijze,
  .kleur,
  .wachtwoord,
  .wachtwoordbevestig {
    padding-right: 0px;
    padding-left: 0px;
  }

  .wachtwoordtxt {
    padding-right: 0px;
    padding-left: 0px;
  }

  .bn632-hover {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .type_bestelling,
  .aanhef,
  .naam,
  .postcode,
  .huisnummer,
  .land,
  .afleveradres,
  .email,
  .telefoonnummer,
  .datum,
  .nieuwsbrief,
  .verzendwijze,
  .kleur,
  .wachtwoord,
  .wachtwoordbevestig {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: left;
  }

  .wachtwoordtxt {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 8px;
  }

  .bn632-hover {
    margin: 10px;
    font-size: 14px;
  }
}
